@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
}
section .videoArea {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
section .videoArea video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

section .titleArea {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    font-size: 30rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 100vh;
    mix-blend-mode: screen;
}










